In [18]:
import pandas as pd
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Mysql@123",
        database="school",
        use_pure=True
    )

    if conn.is_connected():
        print("✅ Connected successfully to MySQL!")

except mysql.connector.Error as err:
    print("❌ Error:", err)

✅ Connected successfully to MySQL!

In [19]:
import mysql.connector
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# connect
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Mysql@123",   # your actual MySQL password
    database="school",
    use_pure=True
)

query = "SELECT * FROM students"
df = pd.read_sql(query, conn)
print(df)
conn.close()

   roll_number       name  age
0            1  Tanya Roy   22
1            2       Riya   20
2            3      Rohit   34

In [20]:
!pip install SQLAlchemy pymysql

Requirement already satisfied: SQLAlchemy in c:\users\asus\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: pymysql in c:\users\asus\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\asus\anaconda3\lib\site-packages (from SQLAlchemy) (2.0.1)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("mysql+pymysql://root:Mysql%40123@localhost/school")

query = "SELECT * FROM students"
df = pd.read_sql(query, engine)
print(df)

   roll_number       name  age
0            1  Tanya Roy   22
1            2       Riya   20
2            3      Rohit   34

USING SQLITE3 WE HAVE TO CREATE DATABASE USING THIS IN PYTHON

In [22]:
import sqlite3
import pandas as pd

In [23]:
creating_db=sqlite3.connect("mydatabase.db")
print("Database created and connected")
creating_db.close()

Database created and connected

In [24]:
#creating table in mydatabase db
conn=sqlite3.connect("mydatabase.db")
cursor=conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS houseprice(
    house_no INTEGER PRIMARY KEY,
   house_loc TEXT,
   house_owner TEXT
)
""")
conn.commit()
conn.close()
print("table created")

table created

In [25]:
#to check the table 
conn=sqlite3.connect("mydatabase.db")
df=pd.read_sql("SELECT * FROM houseprice",conn)
print(df)
conn.close()

Empty DataFrame
Columns: [house_no, house_loc, house_owner]
Index: []